---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/JunePaloma/repos?access_token=<GITHUBCLIENTTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1512604511'
      Etag:
      - W/"a28c112a937955c699aa567fecd0527b"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 900ebc875a7d1d500a3e
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/26794850/repos?access_token=<GITHUBCLIENTTOKEN>&page=2>;
        rel="next", <https://api.github.com/user/26794850/repos?access_token=<GITHUBCLIENTTOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":100529527,"name":"active-record-sinatra","full_name":"JunePaloma/active-record-sinatra","owner":{"login":"JunePaloma","id":26794850,"avatar_url":"https://avatars0.githubusercontent.com/u/26794850?v=4","gravatar_id":"","url":"https://api.github.com/users/JunePaloma","html_url":"https://github.com/JunePaloma","followers_url":"https://api.github.com/users/JunePaloma/followers","following_url":"https://api.github.com/users/JunePaloma/following{/other_user}","gists_url":"https://api.github.com/users/JunePaloma/gists{/gist_id}","starred_url":"https://api.github.com/users/JunePaloma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JunePaloma/subscriptions","organizations_url":"https://api.github.com/users/JunePaloma/orgs","repos_url":"https://api.github.com/users/JunePaloma/repos","events_url":"https://api.github.com/users/JunePaloma/events{/privacy}","received_events_url":"https://api.github.com/users/JunePaloma/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JunePaloma/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/JunePaloma/active-record-sinatra","forks_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/releases{/id}","deployments_url":"https://api.github.com/repos/JunePaloma/active-record-sinatra/deployments","created_at":"2017-08-16T20:23:45Z","updated_at":"2017-08-16T20:23:46Z","pushed_at":"2017-08-16T19:17:37Z","git_url":"git://github.com/JunePaloma/active-record-sinatra.git","ssh_url":"git@github.com:JunePaloma/active-record-sinatra.git","clone_url":"https://github.com/JunePaloma/active-record-sinatra.git","svn_url":"https://github.com/JunePaloma/active-record-sinatra","homepage":null,"size":35,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":100513081,"name":"activerecord_exploration","full_name":"JunePaloma/activerecord_exploration","owner":{"login":"JunePaloma","id":26794850,"avatar_url":"https://avatars0.githubusercontent.com/u/26794850?v=4","gravatar_id":"","url":"https://api.github.com/users/JunePaloma","html_url":"https://github.com/JunePaloma","followers_url":"https://api.github.com/users/JunePaloma/followers","following_url":"https://api.github.com/users/JunePaloma/following{/other_user}","gists_url":"https://ap[...]
